<div class="contenedor texto-blanco ">
    <div class="borde">
        <label for="nombre" >Nombres</label>
        <input type="text" id="nombre" name="nombre">
        <button class="button-celeste"> Agregar </button>
        <button class="button-celeste"> Modificar </button>
        <input type="checkbox" class="input-check" name="nombre">
        <h2 class="borde-bottom">lista215as4dada</h2>
        <h2 class="borde-bottom">sdasjdhsj jahsjdhaj </h2>
        <img src="assets/iconos/remove.png" width="20" height="20">
    </div>
</div>
<router-outlet></router-outlet>
